---
http_interactions:
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/entries/en/saxophone/sentences
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - 15d9a21a
      App-Key:
      - ecadbecabf48c21555ab50793ad20f0e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |-
        {
            "metadata": {
                "provider": "Oxford University Press"
            },
            "results": [
                {
                    "id": "saxophone",
                    "language": "en",
                    "lexicalEntries": [
                        {
                            "language": "en",
                            "lexicalCategory": "Noun",
                            "sentences": [
                                {
                                    "regions": [
                                        "Irish"
                                    ],
                                    "senseIds": [
                                        "m_en_gbus0903630.005",
                                        "b-en-es0042392.002"
                                    ],
                                    "text": "Guitars, flutes, trombones, saxophones and clarinets all combine to play back up to her vocals."
                                },
                                {
                                    "regions": [
                                        "North American"
                                    ],
                                    "senseIds": [
                                        "m_en_gbus0903630.005",
                                        "b-en-es0042392.002"
            [...]
